<lifestyle_event_type class="detail-lifestyle-event_type">
  <h1 class="lifestyle-event-type-detail-title">
    <%= @lifestyle_event_type.title %>
  </h1>
  <div class="glyphicon glyphicon-calendar" id="lifestyle-event-type-date">
    <%= @lifestyle_event_type.created_at.strftime("%d %B %Y") %>
  </div>
</lifestyle_event_type>
